<div class="container">
  <h2>Money sources</h2>

  <form (ngSubmit)="onSubmit()" #capitalForm="ngForm" autocomplete="off">
    <div class="form-group">
      <label>{{ capitalsHeader[2] }}</label>
      <input [(ngModel)]="capital.cash" name="cash" #cash="ngModel" class="form-control capital-main-color" required>
      <div [hidden]="cash.valid || cash.pristine" class="alert alert-danger capital-main-color">
        This field is required.
      </div>
    </div>

    <div class="form-group">
      <label for="debitCardFirst">{{ capitalsHeader[3] }}</label>
      <input [(ngModel)]="capital.debitCardFirst" name="debitCardFirst" #debitCardFirst="ngModel" class="form-control" required>
      <div [hidden]="debitCardFirst.valid || debitCardFirst.pristine" class="alert alert-danger capital-main-color">
        This field is required.
      </div>
    </div>

    <div class="form-group">
      <label for="debitCardSecond">{{ capitalsHeader[4] }}</label>
      <input [(ngModel)]="capital.debitCardSecond" name="debitCardSecond" #debitCardSecond="ngModel" class="form-control" required>
      <div [hidden]="debitCardSecond.valid || debitCardSecond.pristine" class="alert alert-danger">
        This field is required.
      </div>
    </div>

    <div class="form-group">
      <label for="debitCardThird">{{ capitalsHeader[5] }}</label>
      <input [(ngModel)]="capital.debitCardThird" name="debitCardThird" #debitCardThird="ngModel" class="form-control" required>
      <div [hidden]="debitCardThird.valid || debitCardThird.pristine" class="alert alert-danger">
        This field is required.
      </div>
    </div>

    <div class="form-group">
      <label for="dp">{{ capitalsHeader[0] }}</label>
      <div class="input-group">
        <input class="form-control" placeholder="yyyy-mm-dd" name="dp" [(ngModel)]="capital.createdOn" dateFormat="dd-MMM-yyyy" ngbDatepicker #d="ngbDatepicker">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary calendar fa fa-calendar" (click)="d.toggle()" type="button"></button>
        </div>
      </div>
    </div>

    <div class="form-group">
      <button type="submit" class="btn btn-lg btn-block capital-gradient" [disabled]="!capitalForm.form.valid" (click)="onSubmit(capitalForm); capitalForm.reset();">SUBMIT</button>
    </div>
  </form>
</div>
