<form [formGroup]="reactiveForm">
  <div class="row">
    <div class="form-group col-md-6">
      <label>Cash</label>
      <input class="form-control" type="text" formControlName="cash">
      <div class="validation-error"*ngIf="cash.invalid && cash.touched">This field is required.</div>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-md-6">
      <label>Debit Card First</label>
      <input class="form-control" type="text" formControlName="debitCardFirst">
      <div class="validation-error"*ngIf="debitCardFirst.invalid && debitCardFirst.touched">This field is required.</div>
    </div>
    <div class="form-group col-md-6">
      <label>Debit Card Second</label>
      <input class="form-control" type="text" formControlName="debitCardSecond">
      <div class="validation-error"*ngIf="debitCardSecond.invalid && debitCardSecond.touched">This field is required.</div>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-md-6">
      <label>Debit Card Third</label>
      <input class="form-control" type="text" formControlName="debitCardThird">
      <div class="validation-error"*ngIf="debitCardThird.invalid && debitCardThird.touched">This field is required.</div>
    </div>
  </div>
  <div class="form-group">
    <button class="btn btn-lg btn-block" type="submit" (click)="onSubmit()" [disabled]="!reactiveForm.valid">Submit</button>
  </div>
</form>
