<form [formGroup]="capitalForm">
  <div class="form-group">
    <label>Cash</label>
    <input class="form-control" type="text" formControlName="cash">
    <div class="validation-error"*ngIf="cash.invalid && cash.touched" required>This field is required.</div>
  </div>

  <div class="form-group">
    <label>Debit Card First</label>
    <input class="form-control" type="text" formControlName="debitCardFirst">
    <div class="validation-error"*ngIf="debitCardFirst.invalid && debitCardFirst.touched">This field is required.</div>
  </div>

  <div class="form-group">
    <label>Debit Card Second</label>
    <input class="form-control" type="text" formControlName="debitCardSecond">
    <div class="validation-error"*ngIf="debitCardSecond.invalid && debitCardSecond.touched">This field is required.</div>
  </div>

  <div class="form-group">
    <label>Debit Card Third</label>
    <input class="form-control" type="text" formControlName="debitCardThird">
    <div class="validation-error"*ngIf="debitCardThird.invalid && debitCardThird.touched">This field is required.</div>
  </div>

  <div class="form-group">
    <button class="btn btn-lg btn-block" type="submit" (click)="onSubmit()" [disabled]="!capitalForm.valid">SUBMIT</button>
  </div>
</form>
