<table class="table table-hover">
  <tr *ngFor="let capital of capitals">
    <td (click)="populateForm(capital)">{{ capital.cash }}</td>
    <td (click)="populateForm(capital)">{{ capital.debitCardFirst }}</td>
    <td (click)="populateForm(capital)">{{ capital.debitCardSecond }}</td>
    <td (click)="populateForm(capital)">{{ capital.debitCardThird }}</td>
    <td (click)="populateForm(capital)">{{ capital.createdOnFormatted }}</td>
    <td (click)="onDelete(capital.id)"><button class="btn btn-sm btn-outline-danger">X</button></td>
  </tr>
</table>
