<h1>Capital</h1>

<p *ngIf="!capitals"><em>Loading...</em></p>

<table class='table table-striped' *ngIf="capitals">
  <thead>
    <tr>
      <th>Date</th>
      <th>Cash</th>
      <th>First Debit Card</th>
      <th>Second Debit Card</th>
      <th>Third Debit Card</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let capital of capitals">
      <td>{{ capital.createdOnFormatted }}</td>
      <td>{{ capital.cash }}</td>
      <td>{{ capital.debitCardFirst }}</td>
      <td>{{ capital.debitCardSecond }}</td>
      <td>{{ capital.debitCardThird }}</td>
    </tr>
  </tbody>
  <button mat-button>Add</button>
</table>
